*{margin:0;padding:0;}
body{font-family: 'Slabo 27px', serif;background:#000;}
.bg{position:relative;z-index:1;}
.bg img{
  display:block;
  width:100%; height:auto;
}
.bg h1{
  position:absolute;
  top:33%;left:0;
  width:100%;
  font-size:100px;
  text-align:center;
}
.cont{
  position:relative;
  z-index:2;
  background:rgba(0,0,0,0.9);
  font-size:27px;
  color:#fff;
  padding:5%;
}
.cont *{
  max-width:900px;
  margin:5% auto;
}
.layer1 {color:#fff;}
a {color:#bec5e8;}